 
 <!-- Bannière -->
 <div class="container-fluid text-white text-center py-5" style="background: linear-gradient(135deg, #007bff, #28a745);">
    <h1 class="fw-bold">Concours CFEE & Prytanée Militaire</h1>
    <p class="lead">Préparez-vous efficacement avec nos ressources dédiées.</p>
</div>

 
 <!-- Présentation -->
 <div class="container py-5">
    <h2 class="text-center">À Propos du Concours</h2>
    <p class="text-center">Le concours CFEE permet d'accéder à l'enseignement secondaire et au prestigieux Prytanée Militaire.</p>
</div>

<!-- Matières du concours -->
<div class="container py-5">
    <h2 class="text-center">Matières du Concours</h2>
    <div class="row text-center">
        <div class="col-md-3 icon-box"><i class="fa fa-pencil-alt fa-3x text-primary"></i><h5>Dictée</h5></div>
        <div class="col-md-3 icon-box"><i class="fa fa-square-root-alt fa-3x text-primary"></i><h5>Opérations (Maths)</h5></div>
        <div class="col-md-3 icon-box"><i class="fa fa-calculator fa-3x text-primary"></i><h5>Problèmes (Maths)</h5></div>
        <div class="col-md-3 icon-box"><i class="fa fa-lightbulb fa-3x text-primary"></i><h5>TSQ</h5></div>
    </div>
</div>

<!-- Calendrier du Concours -->
<div class="container py-5">
    <h2 class="text-center">Calendrier du Concours</h2>
    <table class="table table-bordered text-center">
        <thead class="table-primary">
            <tr><th>Matière</th><th>Inscriptions</th><th>Examen</th><th>Résultats</th></tr>
        </thead>
        <tbody>
            <tr><td>Dictée</td><td>1er - 15 Mars</td><td>30 Mars</td><td>15 Avril</td></tr>
            <tr><td>Opérations Maths</td><td>1er - 15 Mars</td><td>30 Mars</td><td>15 Avril</td></tr>
            <tr><td>Problèmes Maths</td><td>1er - 15 Mars</td><td>30 Mars</td><td>15 Avril</td></tr>
            <tr><td>TSQ</td><td>1er - 15 Mars</td><td>30 Mars</td><td>15 Avril</td></tr>
        </tbody>
    </table>
</div>

<!-- Appel à l'action -->
<div class="container text-center py-5">
    <h2>Préparez-vous avec nos ressources !</h2>
    <a href="#" class="btn btn-primary btn-lg mt-3"><i class="fa fa-user-plus"></i> S'inscrire</a>
</div>

<!-- Ressources gratuites -->
<div class="container py-5">
    <h2 class="text-center">Ressources Gratuites</h2>
    <div class="row">
        <div class="col-md-4 content-box">
            <h5><i class="fa fa-file-pdf text-danger"></i> Dictée 2023</h5>
            <a href="#" class="btn btn-outline-primary btn-sm"><i class="fa fa-download"></i> Télécharger</a>
        </div>
        <div class="col-md-4 content-box">
            <h5><i class="fa fa-file-pdf text-danger"></i> Maths (Opérations) 2023</h5>
            <a href="#" class="btn btn-outline-primary btn-sm"><i class="fa fa-download"></i> Télécharger</a>
        </div>
        <div class="col-md-4 content-box">
            <h5><i class="fa fa-file-pdf text-danger"></i> TSQ 2023</h5>
            <a href="#" class="btn btn-outline-primary btn-sm"><i class="fa fa-download"></i> Télécharger</a>
        </div>
    </div>
</div>